@import "https://use.fontawesome.com/releases/v5.5.0/css/all.css";
body {
  background: url(https://i.ytimg.com/vi/2yKsDZrEF7U/maxresdefault.jpg) no-repeat;
  background-size: cover;
  font-family: 'Righteous', cursive;
}
#logo_2{
  width: 70px;
  height: 70px;
}
.starter-template {
  padding: 40px 15px;
  text-align: center;
}
.navbar-nav{
  font-size: 20px;
}
.firstline{
  color: #01b9ff;
}
